#navigation{
    width: 1600px;
    height: 92px; 
}

#navigation .nav-ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;

}

#navigation .nav-ul .nav-ul-list{
    display: flex;
    list-style: none;
    width: 365px;
    height: 24px;
    gap: 30px;
    font-size: 16px;
    font-weight: 500;
}
.btn{
    width: 164px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-style: none;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

}
.btn:hover{
    background-color: red;
    transform: scale(1.1);
}


#banner{
    width: 1600px;
    height: 674px;
    border: 1px solid rgb(244, 244, 247);
    background-image: url('../image/hero-bg.png');
    background-size: cover;

}
#banner .banner-box{
    width: 1360px;
    height: 379px;
    margin-top: 116px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 179px;

}
#banner .banner-box .banner-button-1{
    margin-left: 500px;
    width: 229px;
    height: 35px;
    border-style: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #469165;
    cursor: pointer;
    transition: 0.3s;

}    

#banner .h2-div{
    width: 770px;
    height: 168px;
    margin: 51px 295px 10px 295px;
}
#banner .banner-box .h2{
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-left: 80px;
}
#banner .banner-box .h3{
  font-size: 60px;
    font-weight: bold;
    color: #30B868; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 78px;
}

#banner .div-p{
     width: 1360px;
    height: 60px;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 0px;
    margin-left: 350px;   
}

#banner .btn-1{
     padding: 12px 16px 12px 16px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

}
#banner .btn-1:hover{
    background-color: red;
    transform: scale(1.1);
}

#banner .btn-2{
    
     padding: 12px 16px 12px 16px;
     background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
   border: 2px solid white;
    align-items: center;
     cursor: pointer;
    transition: 0.3s;
}
#banner .btn-2:hover{
    background-color: red;
    transform: scale(1.1);
}
#banner ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: 350px;
}
#notes{
    width: 1600px;
    height: 448px;

}
#notes .note-box{
    width: 1360px;
    height: 152px;
    margin-top: 0px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 44px;
}

#notes .note-box h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
   padding-left: 300px;
   margin-top: 150px;
   margin-bottom: 10px;
}
#notes .note-box p{
    font-size: 16px;
    margin-left: 330px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#notes .card-box{
    width: 322px;
    height: 210px;
    box-shadow: 0px 0px 8px 0px;
    
}
#notes .card-box .card-box-mini{
    width: 60px;
    height: 60px;
    margin-left: 135px;
    margin-top: 20px;
    background-color: #F95555; 
    border-radius: 50%;

}
#notes .card-box .card-box-mini img{
    width: 32px;
    height: 32px;
    margin-left: 15px;
    margin-top: 13px;
}
#notes .card-box h4{
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin-left: 80px;
    margin-bottom: 10px;
}
#notes .card-box p{
    font-size: 16px;
    color: #627382;
    margin-left: 50px;
    margin-top: 0px;
}

#notes .ul{
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: center;
}
#notes .card-big-box{
    margin-left: 50px;
}

#brain{
    width: 1600px;
    height: 840px;
}

#brain .container{
    width: 1360px;
    height: 600px;
    margin: 120px;
}
#brain .container ul .pic{
    width: 600px;
    height: 600px;
    
}
#brain .container ul .pe{
    width: 700px;
    height: 396px;
    margin: 70px;
}
#brain .container ul{
    display: flex;
    list-style: none;

}
#brain .container ul .pe h6{
    font-size: 16px;
    color: #469165;
    margin-top: 0px;
    margin-bottom: 10px;
}
#brain .container ul .pe h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 10px;
    margin-top: 0px;
}
#brain .container ul .pe p{
    font-size: 16px;
    color: #627382;
    margin-top: 0px;
}
#brain .container ul .pe ul{
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    padding-left: 20px;
    font-size: 16px;
    color: black;
    list-style-type: square;
       
}
#access{
    width: 1600px;
    height: 400px;
}
#access .container{
    width: 1360px;
    height: 300px;
    margin-left: 120px;
    background-color: #e9ecee;
}
#access .container h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    align-items: center;
    margin-left: 430px;
}
#access .container p{
    font-size: 16px;
    color: #627382;
    margin-left: 430px;
}
#access .container button{
    margin-left: 600px;
}
#access .container .p2{
    font-size: 16px;
    color: #627382;
    margin-left: 550px;
}
#access .container .p3{
    font-size: 16px;
    color: #627382;
    margin-left: 500px;
}

 
#footer-container { 
    width: 1600px;
    height: 200px;
    background-color: #001931;
}

#banner .banner-box .banner-button-1:hover{
    background-color: purple;
    transform: scale(1.1);
} 
#ul1{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    
}
#ul2{
   display: flex;
    list-style-type: none; 
}
#copyright{
    margin-left: 650px;
    
    padding-bottom: 10px;
    color: white;
}
#button{
     width: 200px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    background-color: #48a56f;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-style: none;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
#button:hover{
    background-color: red;
    transform: scale(1.1);
}
#s{
    color: white;
    font-size: 20px;
}
